<%# OVERRIDE Hyrax v5.0.0rc2 template for theming -- removed item keywords and depositor from partial %>

<div class="featured-fields">
  <%= link_to [main_app, featured] do %>
    <%= render_thumbnail_tag(featured, {suppress_link: true}, class: 'featured-item-thumbnail mx-auto d-block') %>
  <% end %>
  <div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <%= link_to [main_app, featured] do %>
      <h3><%= markdown(featured.title.first) %></h3>
    <% end %>
  </div>
  <%# Removed featured-item-depositor %>
  <%# Removed item keywords %>
</div>
