<%# OVERRIDE Hyrax v5.2.0 to render thumbnail and title partials for theming %>

<% presenter = f.object.presenter %>
<li class="dd-item dd3-item featured-item" data-id="<%= presenter.id %>">
  <div class="dd-handle dd3-handle"><%= t 'hyrax.homepage.featured_works.drag' %></div>
  <div class="dd3-content card">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :order, data: { property: "order" } %>
    <div class="main row">
      <div class="col-sm-12">
        <% if can? :destroy, FeaturedWork %>
          <h3 class="float-right">
            <%= link_to hyrax.featured_work_path(presenter, format: :json),
              title: "Remove work from feature section",
              data: {behavior: 'unfeature'} do %>
              <i class='fa fa-times'></i>
            <% end %>
            <p class="sr-only"><%= t 'helpers.action.remove' %></p>
          </h3>
        <% end %>
        <div class="row">
          <%# thumbnail partial takes params: work or collection, main_app or hyrax, styles for the image, image alt text %>
          <%= render 'thumbnail', featured: presenter, link: main_app, styles: "d-block", alt: "" %>
          <%# title partial takes params: work or collection, main_app or hyrax %>
          <%= render 'featured_title', featured: presenter, link: main_app, styles: "d-block", alt: "" %>
          </div>
      </div>
    </div>
  </div>
</li>
